* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display:flex;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    height: 34px;
    margin: -1px -1px 0 0;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .board-row {
    display: flex;
    flex-direction: row;
  }
  .game {
    display: flex;
    flex-direction: column;
  }
  .status {
    position: absolute;
    width:max-content;
  }
  .status-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .board{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  #root {
    margin: auto;
  }
  .players-list {
    display: flex;
    justify-content: center;
  }
  .players-list button{
    padding: 5px;
    margin: 10px;
    border-color:#000;
    border-radius: 5px;
  }
  #inputBoardSize, #startButton {
    margin: 10px 10px 0  0;
  }
.winning {
  background: #e8dddc;
}